        },
        {
            "test_case_id": "{{ StableUUID | UpperCase}}",
            "test_case": {
                "test_category": "{{ .test_category }}",
                "test_title": "{{ .test_title | TitleCase }}",
                "is_manual": true,
                "file_href": "",
                "test_suite": "{{ .test_suite | TitleCase}}",
                "status": 1,
                "effective_start_year": ,
                "template": {
                    "name":"",
                    "tokens":{}
                }
            }
        }
    ]
}
