        },
        {
            "test_case_id": "{{ StableUUID | UpperCase}}",
            "test_case": {
                "test_category": "{{ .test_category }}",
                "test_title": "{{ .test_title | TitleCase }}",
                "test_description": "{{ .test_description }}",
                "passing_criteria": "",
                "is_manual": true,
                "file_href": "",
                "test_suite": "{{ .test_suite | TitleCase}}",
                "status": 1,
                "test_instruction": ""
            }
        }
    ]
}
